---
const currentPath = Astro.url.pathname;
---

<nav class="nav">
  <a href="/" class="nav-logo">Airfryer Tips</a>
  <ul class="nav-links">
    <li><a href="/" class:list={[{ active: currentPath === '/' }]}>Home</a></li>
    <li><a href="/blog" class:list={[{ active: currentPath.startsWith('/blog') }]}>Blog</a></li>
    <li><a href="/over-ons" class:list={[{ active: currentPath === '/over-ons/' }]}>Over Ons</a></li>
  </ul>
</nav>
